.container {
  max-width: 600px;
  margin: 50px auto;
  font-family: 'Arial';
  display: flex;
  flex-direction: column;
  gap: 15px;
}

textarea {
  height: 200px;
}

button {
  padding: 10px;
  background-color: #5f99f7;
  border: none;
  color: white;
  cursor: pointer;
}
